<!--First Page Content Carousel-->
{% if pagination.pageNumber == 0 %}
<div class="col col-12">
    <amp-carousel
    id="post-carousel"
    width="4"
    height="3"
    layout="responsive"
    role="region"
    type="slides"
    loop>
      {% for post in posts limit:5 %}
          <div class="relative">
              <a href="{{ post.url }}">
                  <amp-img src="{{ post.data.image }}" layout="fill"></amp-img>
              </a>
              <h1 class="absolute mx2 mt0 mb1 h2 p1"><a class="white bg-olive p1 inline" href="{{ post.url }}">{{ post.data.title }}</a></h1>
          </div>
      {% endfor %}
  </amp-carousel>
</div>
{% endif %}