<article class="col col-12 mb2">
    {% if post.data.image != "false" %}
    <div class="col col-8 px2">
        <h1 class="mt1 h3"><a href="{{ post.url }}">{{ post.data.title }}</a></h1>
        <p class="gray">{{ post.data.excerpt | truncatewords: 10 }}</p>
        <p class="gray m0"><small><time datetime="{{ post.data.publishDate }}">{{ post.data.publishDate | dateReadable }}</time></small></p>
    </div>
    <div class="col col-4 px2">
        <a href="{{ post.url }}"><amp-img class="right" src="{{ post.data.image }}" layout="intrinsic" height="150px" width="150px"></amp-img></a>
    </div>
    {% else %}
    <div class="col col-12 px2">
        <h1 class="mt1 h3"><a href="{{ post.url }}">{{ post.data.title }}</a></h1>
        <p class="gray">{{ post.data.excerpt | truncatewords: 10 }}</p>
        <p class="gray m0"><small><time datetime="{{ post.data.publishDate }}">{{ post.data.publishDate | dateReadable }}</time></small></p>
    </div>
    {% endif %}
</article>