
<div class="clearfix m1 rounded">
    <div class="col col-12 relative">
        <a href="{{ post.url }}">
            <amp-img src="{{ post.data.image }}" width="4" height="3" layout="responsive"></amp-img>
            <div id="videoboxTitle" class="absolute p2">
                <h1 class="h3 mt0 mb1"><span class="bg-white p1 inline">{{ post.data.title }}</span></h1>
                <p class="m0 gray white bold"><time datetime="{{ post.data.publishDate }}">{{ post.data.publishDate | dateReadable | upcase }}</small></p>
            </div>
        </a>
    </div>
</div>