---
layout: layout/layout
---
<article class="max-width-3 mx-auto">
    <section class="clearfix">
        <div id="contentHeader" class="col col-12 pt2">
            <h1 id="contentTitle" class="left-align mt2 mb0 mx2">{{ title }}</h1>
            <p class="mx2 mt2 mb0 h4 bold olive"><a href="{{ author.url }}" target="_blank" rel="nofollow">{{ author.name | upcase }}</a></p>
            <p class="mx2 mt0 mb3 gray">
                <time datetime="{{ publishDate }}"><small>{{ publishDate | dateReadable | upcase }}</small></time>
                <span> &bull; </span>
                <a href="{{ origin }}" target="_blank" rel="nofollow"><small>{{ "Link tulisan asli" | upcase }}</small></a>
            </p>
            {% if image != "false" %}
            <amp-img id="contentHeaderImage" src="{{ image }}" height="3" width="4" layout="responsive"></amp-img>
            {% endif %}
        </div>
        <div id="contentBody" class="col col-12 overflow-hide">
            <div class="p2">
                {{ content | extractImgFromP | sanitizeContent }}
            </div>
        </div>
    </section>
</article>