---
layout: layout/layout
---
<div class="clearfix mt2">
    <div class="col col-12 mb3">
        <div class="px2">
            <h1 class="m0">{{ title }}</h1>
            <p class="mt1 mb0">{{ content | strip_html }}</p>
        </div>
    </div>
</div>
<!--Post List-->
<div class="clearfix mt2 mx1">
    <div class="col col-12 lg-col-8">
        {% for post in posts %}
            {% include partials/component/videobox.html %}
        {% endfor %}
    </div>
</div>

<!--Sidebar-->
<div class="col xs-hide sm-hide md-hide lg-col-4"></div>